<img src="https://i.ibb.co/2t8djfy/datascience-Banner.png" width="1200" alt="KCode Banner"  /> 

<a href="https://www.linkedin.com/in/kauebr/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" ></a> <a href="mailto: kauemandarino@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" width="30" ></a><a href="
https://api.whatsapp.com/send?phone=5541991835800&text=Oi"> <img src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" width="30" ></a><a href="https://github.com/kauebr/"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30" ></a>

# Google Data Studio Dashboards

## Objectives:
* Obtain an open dataset about Brazilian steel industry;
* Reduzir os dados;
* Model the reduced information and transform into a dataframe;
* Load our dataframe into Google Data Studio;
* Create dashboards.
<hr>

<h1>Summary</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href=#DF>Criando DataFrame</a></li>
        <li><a href=#Dados>Entendendo os dados</a></li>
        <li><a href=#Graf>Gráficos</a></li>
        <li><a href=#TT>Treino e teste</a></li>
        <li><a href=#Reg>Criando Modelo de regressão linear múltipla</a></li>
        <li><a href=#Pred>Predições e Avaliações</a></li>    
    </ol>
</div>
<br>
<hr>

# <h2 id="1">1. Data Mining(Extract)</h2>

## In this step, we will use a dataset from the [Brazilian Steel Institute](https://acobrasil.org.br/site/sobre-o-instituto/), an entity founded in 1963 that represents Brazilian steel-producing companies. This dataset contains data of Brazilian steel production from 2013 to 2022. [Source](https://acobrasil.org.br/site/estatistica-mensal/#:~:text=O%20consumo%20aparente%20de%20produtos,m%C3%AAs%20de%20mar%C3%A7o%20de%202022.)

### Let's take a look at the raw data, it came in .xls format

<img src="https://i.ibb.co/s2FkvZS/raw-dataset.png" width="1200" alt="raw dataset"  />

As informações estão semi extruturadas
Dataset size: 41 rows, 114 columns with a total of 4407 unique values.
<hr>

# <h2 id="1">2. Data Reduce(Transform)</h2>

## Vamo escolher algumas informações para analisarmos
 * Utilizando o EXCEL selecionamos apenas os anos de 2018 e 2020 , foi o periodo anterior e imediato após a pandemia de covid19.
Para isto fiz uma cópia da planinha dos dados originais, descongeleis os painéis e exclui os dados referentes aos outros anos, deixando somente os dados de 2019 a 2020.
Ficou assim:

<img src="https://i.ibb.co/KXNBfpz/filtered-data.png" width="1200" alt="Filtered Data"  />

Após isto selecionei algumas caracteristicas para aplicar nossa análise e destaquei elas em amarelo

<img src="https://i.ibb.co/7CS67Dj/high-info.png" width="1200" alt="High Info"  />

Ao reduzir as informações notamos que os dados estavam linkados e com auto soma, o que deu erro de referencia, a solução foi fixar os dados antes de https:/
<img src="https://i.ibb.co/zS7HYXR/ref-error.png" width="1200" alt="Ref Error"  />

Uma vez fixados os dados reduzimos nosso conjunto a isto;
<img src="https://i.ibb.co/0c2nPjD/reduced-data.png" width="1200" alt="Reduced Data"  /> 

Os 4407 valores inicias do conjunto agora foram reduzidos para apenas 264

A etapa de redução foi concluída
<hr>

# <h2 id="3">3. Data Modeling</h2>

## Nesta etapa vamos modelar os dados em um dataframe que consiga ser lido pelo google data studio posteriormente

primeiramente padronizamos as datas e extruturamos as informações em modelo matricial

<img src="https://i.ibb.co/R2zNGNZ/data-modeling.png" width="1200" alt="Reduced Data"  />

### Entao transformamos de xls para csv que é um excelente formato mais favoravel para o streaming de dados

Criamos 3 arquivs .csv:

* Producao 2018 ~ 2019

* Exports 2018 ~ 2019

* Imports 2018 ~ 2019

`As informações no formato .csv ficaram assim:`

Production;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19
Crude Steel;2.914;2.766;3.113;2.995;2.724;2.970;3.086;2.914;3.081;3.224;2.911;2.709;3.021;2.747;2.878;2.970;2.826;2.883;2.505;2.537;2.394;2.690;2.657;2.462
Rolled Products;1.923;1.861;2.130;2.038;2.026;1.918;1.947;1.906;2.107;2.129;2.054;1.657;1.907;1.865;2.060;1.942;2.010;1.801;1.894;1.895;1.969;1.887;1.774;1.482
Pig Iron;2.368;2.171;2.442;2.356;2.239;2.375;2.481;2.349;2.533;2.557;2.345;2.439;2.451;2.201;2.356;2.383;2.295;2.277;1.879;1.926;1.906;2.193;2.179;2.233

Imports;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19
Rolled Products;215;147;212;198;200;228;213;182;189;123;170;157;174;176;196;180;231;166;199;182;182;209;126;133
Thousand Tonnes;217;158;213;202;242;231;216;246;225;125;172;160;177;204;233;244;233;168;201;251;184;210;128;133
US$ Millions;241;181;224;226;233;234;240;251;231;178;204;167;212;205;216;227;237;180;221;231;211;219;156;148

Exports;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19
Rolled Products;488;398;476;379;301;404;267;502;216;407;491;421;543;373;254;348;410;379;267;274;371;423;294;225
Thousand Tonnes;1.352;1.034;1.192;1.098;753;1.451;984;602;1.055;1.822;1.315;1.287;1.583;897;811;1.064;1.235;1.099;1.000;917;956;1.144;1.089;1.010
US$ Millions;796;604;753;706;484;949;627;488;704;1.177;843;743;946;545;464;616;760;686;582;538;523;604;543;502

Vamos testar a modelaçao das informações utilizando o pandas.

In [22]:
import pandas as pd # Importing library pandas to python

# Reading ing .csv files
df_Prod = pd.read_csv('Production.csv', sep=';')
df_Exp = pd.read_csv('Exports.csv', sep=';')
df_Imp = pd.read_csv('Imports.csv', sep=';')

Showing the modeled data

In [25]:
df_Prod

,Production,jan/18,fev/18,mar/18,abr/18,mai/18,jun/18,jul/18,ago/18,set/18,...,mar/19,abr/19,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19
0,Crude Steel,2.914,2.766,3.113,2.995,2.724,2.970,3.086,2.914,3.081,...,2.878,2.970,2.826,2.883,2.505,2.537,2.394,2.690,2.657,2.462
1,Rolled Products,1.923,1.861,2.130,2.038,2.026,1.918,1.947,1.906,2.107,...,2.060,1.942,2.010,1.801,1.894,1.895,1.969,1.887,1.774,1.482
2,Pig Iron,2.368,2.171,2.442,2.356,2.239,2.375,2.481,2.349,2.533,...,2.356,2.383,2.295,2.277,1.879,1.926,1.906,2.193,2.179,2.233

In [23]:
df_Exp

,Exports,jan/18,fev/18,mar/18,abr/18,mai/18,jun/18,jul/18,ago/18,set/18,...,mar/19,abr/19,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19
0,Rolled Products,488.000,398.000,476.000,379.000,301,404.000,267,502,216.000,...,254,348.000,410.000,379.000,267.0,274,371,423.000,294.000,225.00
1,Thousand Tonnes,1.352,1.034,1.192,1.098,753,1.451,984,602,1.055,...,811,1.064,1.235,1.099,1.0,917,956,1.144,1.089,1.01
2,US$ Millions,796.000,604.000,753.000,706.000,484,949.000,627,488,704.000,...,464,616.000,760.000,686.000,582.0,538,523,604.000,543.000,502.00

In [24]:
df_Imp

,Imports,jan/18,fev/18,mar/18,abr/18,mai/18,jun/18,jul/18,ago/18,set/18,...,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19,Unnamed: 25,Unnamed: 26
0,Rolled Products,215,147,212,198,200,228,213,182,189,...,231,166,199,182,182,209,126,133,NaN,NaN
1,Thousand Tonnes,217,158,213,202,242,231,216,246,225,...,233,168,201,251,184,210,128,133,NaN,NaN
2,US$ Millions,241,181,224,226,233,234,240,251,231,...,237,180,221,231,211,219,156,148,NaN,NaN

>Dados validados com sucesso

Esta foi a etapa mais trabalhosa, uma vez os dados modelados, conseguimos trabalhar com eles, com eles dentro do python conseguiriamos por exemplo aplicar modelos de inteligencia artificial que conseguem prever tendencias com base na serie de dados ao longo dos anos, conseguindo assim prever quanto ferro bruto será produzido em 2023 no Brasil com uma precisão alta de acerto, mas este não é objetivo desta análise. Para ver meus algoritmos de Machine learning [clique aqui](https://github.com/kauebr/Machine-Learning-Projects-IBM)
Etapal de modelação de dados concluída
<hr>

# <h2 id="4">4. Load our dataframe into Google Data Studio (Load)</h2>

Uma vez os dados modelados, temos que carregalos para posterior análise

Correção de erros de modelação

* Na primeira vez que tentei subir os dados, tivemos um erro nas datas, que foi corrigido entrando no cvs com um editor de texto.
* Na segunda vez que tentei subir houve um erro de formatação, após procurar um pouco, vi que era um erro formatação, havia um ponto para separar os milhares, que estava sendo reconhecido como ponto flutuante. o .csv foi corrigido utilizando o python com o seguinte código:

In [33]:
x = ('''Production;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19
Crude Steel;2.914;2.766;3.113;2.995;2.724;2.970;3.086;2.914;3.081;3.224;2.911;2.709;3.021;2.747;2.878;2.970;2.826;2.883;2.505;2.537;2.394;2.690;2.657;2.462
Rolled Products;1.923;1.861;2.130;2.038;2.026;1.918;1.947;1.906;2.107;2.129;2.054;1.657;1.907;1.865;2.060;1.942;2.010;1.801;1.894;1.895;1.969;1.887;1.774;1.482
Pig Iron;2.368;2.171;2.442;2.356;2.239;2.375;2.481;2.349;2.533;2.557;2.345;2.439;2.451;2.201;2.356;2.383;2.295;2.277;1.879;1.926;1.906;2.193;2.179;2.233
''').replace('.', '')
x

'Production;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19\nCrude Steel;2914;2766;3113;2995;2724;2970;3086;2914;3081;3224;2911;2709;3021;2747;2878;2970;2826;2883;2505;2537;2394;2690;2657;2462\nRolled Products;1923;1861;2130;2038;2026;1918;1947;1906;2107;2129;2054;1657;1907;1865;2060;1942;2010;1801;1894;1895;1969;1887;1774;1482\nPig Iron;2368;2171;2442;2356;2239;2375;2481;2349;2533;2557;2345;2439;2451;2201;2356;2383;2295;2277;1879;1926;1906;2193;2179;2233\n'

Assim os dados foram carregados no Google data Studio com sucesso

<img src="https://i.ibb.co/1m2b48B/data-ok.png" width="1200" alt="Reduced Data"  />

>Dados upados com sucesso no google data studio
<hr>

# <h2 id="5">4. Dashboards</h2>

In [43]:
x = ('''Ref;2018-01-01;2018-02-01;2018-03-01;2018-04-01;2018-05-01;2018-06-01;2018-07-01;2018-08-01;2018-09-01;2018-10-01;2018-11-01;2018-12-01;2019-01-01;2019-02-01;2019-03-01;2019-04-01;2019-05-01;2019-06-01;2019-07-01;2019-08-01;2019-09-01;2019-10-01;2019-11-01;2019-12-01
Rolled Products;488;398;476;379;301;404;267;502;216;407;491;421;543;373;254;348;410;379;267;274;371;423;294;225
Thousand Tonnes;1.352;1.034;1.192;1.098;753;1.451;984;602;1.055;1.822;1.315;1.287;1.583;897;811;1.064;1.235;1.099;1.000;917;956;1.144;1.089;1.010
US$ Millions;796;604;753;706;484;949;627;488;704;1.177;843;743;946;545;464;616;760;686;582;538;523;604;543;502''').replace(';', ',')
print(x)

Ref,2018-01-01,2018-02-01,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01,2018-12-01,2019-01-01,2019-02-01,2019-03-01,2019-04-01,2019-05-01,2019-06-01,2019-07-01,2019-08-01,2019-09-01,2019-10-01,2019-11-01,2019-12-01
Rolled Products,488,398,476,379,301,404,267,502,216,407,491,421,543,373,254,348,410,379,267,274,371,423,294,225
Thousand Tonnes,1.352,1.034,1.192,1.098,753,1.451,984,602,1.055,1.822,1.315,1.287,1.583,897,811,1.064,1.235,1.099,1.000,917,956,1.144,1.089,1.010
US$ Millions,796,604,753,706,484,949,627,488,704,1.177,843,743,946,545,464,616,760,686,582,538,523,604,543,502