<img src="https://i.ibb.co/2t8djfy/datascience-Banner.png" width="1200" alt="KCode Banner"  /> 

<a href="https://www.linkedin.com/in/kauebr/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" ></a> <a href="mailto: kauemandarino@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" width="30" ></a><a href="
https://api.whatsapp.com/send?phone=5541991835800&text=Oi"> <img src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" width="30" ></a><a href="https://github.com/kauebr/"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30" ></a>

# Google Data Studio Dashboards

## Objectives:
* Obtain an open dataset about Brazilian steel industry;
* Reduce data;
* Model the reduced information and transform into a dataframe;
* Load our dataframe into Google Data Studio;
* Create dashboards.
<hr>

<h1>Summary</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href=#1>Data Mining(Extract)</a></li>
        <li><a href=#2>Data Reduce(Transform)</a></li>
        <li><a href=#3>Data Modeling(Transform)</a></li>
        <li><a href=#4>Dashboards(Load)</a></li>
    </ol>
</div>
<br>
<hr>

# <h2 id="1">1. Data Mining(Extract)</h2>

## In this step, we will use a dataset from the [Brazilian Steel Institute](https://acobrasil.org.br/site/sobre-o-instituto/), an entity founded in 1963 that represents Brazilian steel-producing companies. This dataset contains data of Brazilian steel production from 2013 to 2022. [Source](https://acobrasil.org.br/site/estatistica-mensal/#:~:text=O%20consumo%20aparente%20de%20produtos,m%C3%AAs%20de%20mar%C3%A7o%20de%202022.)

### Let's take a look at the raw data, it came in .xls format

<img src="https://i.ibb.co/s2FkvZS/raw-dataset.png" width="1200" alt="raw dataset"  />

The information is semi-structured

Dataset size: 41 rows, 114 columns with a total of 4407 unique values.
<hr>

# <h2 id="2">2. Data Reduce(Transform)</h2>

## Let's choose some information to analyze
 * Using EXCEL we selected only the years 2018 and 2020, it was the previous and immediate period after the covid19 pandemic.
For this I made a copy of the original data sheet, unfreeze the panels and delete the data for the other years, leaving only the data from 2019 to 2020.
this was the result:

<img src="https://i.ibb.co/KXNBfpz/filtered-data.png" width="1200" alt="Filtered Data"  />


After that I selected some features to deepen our analysis and highlighted them in yellow

<img src="https://i.ibb.co/7CS67Dj/high-info.png" width="1200" alt="High Info"  />


When reducing the data, I realized that the data was not fixed, but were autosum results linked to other data, the solution was to replace them by pasting only the values

<img src="https://i.ibb.co/zS7HYXR/ref-error.png" width="1200" alt="Ref Error"  />

Once the data is fixed we reduce our set to this:

<img src="https://i.ibb.co/0c2nPjD/reduced-data.png" width="1200" alt="Reduced Data"  /> 

The set's starting 4407 values ​​have now been reduced to just 264

>The reduction step has been completed
<hr>

# <h2 id="3">3. Data Modeling(Transform)</h2>

## In this step we will model the data in a dataframe that can be read by Google Data Studio later

first we standardized the dates and structured the information in a matrix model

<img src="https://i.ibb.co/R2zNGNZ/data-modeling.png" width="1200" alt="Reduced Data"  />

### So we transform from .xls to .csv which is an excellent format more favorable for streaming data for having a reduced weight.

We create 3 .csv files:

* Production 2018 ~ 2019

* Exports 2018 ~ 2019

* Imports 2018 ~ 2019

`The information in .csv format looks like this:`

Production;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19
Crude Steel;2.914;2.766;3.113;2.995;2.724;2.970;3.086;2.914;3.081;3.224;2.911;2.709;3.021;2.747;2.878;2.970;2.826;2.883;2.505;2.537;2.394;2.690;2.657;2.462
Rolled Products;1.923;1.861;2.130;2.038;2.026;1.918;1.947;1.906;2.107;2.129;2.054;1.657;1.907;1.865;2.060;1.942;2.010;1.801;1.894;1.895;1.969;1.887;1.774;1.482
Pig Iron;2.368;2.171;2.442;2.356;2.239;2.375;2.481;2.349;2.533;2.557;2.345;2.439;2.451;2.201;2.356;2.383;2.295;2.277;1.879;1.926;1.906;2.193;2.179;2.233

Imports;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19
Rolled Products;215;147;212;198;200;228;213;182;189;123;170;157;174;176;196;180;231;166;199;182;182;209;126;133
Thousand Tonnes;217;158;213;202;242;231;216;246;225;125;172;160;177;204;233;244;233;168;201;251;184;210;128;133
US$ Millions;241;181;224;226;233;234;240;251;231;178;204;167;212;205;216;227;237;180;221;231;211;219;156;148

Exports;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19
Rolled Products;488;398;476;379;301;404;267;502;216;407;491;421;543;373;254;348;410;379;267;274;371;423;294;225
Thousand Tonnes;1.352;1.034;1.192;1.098;753;1.451;984;602;1.055;1.822;1.315;1.287;1.583;897;811;1.064;1.235;1.099;1.000;917;956;1.144;1.089;1.010
US$ Millions;796;604;753;706;484;949;627;488;704;1.177;843;743;946;545;464;616;760;686;582;538;523;604;543;502

Now, let's test the information modeling using pandas.

In [22]:
import pandas as pd # Importing library pandas to python

# Reading ing .csv files
df_Prod = pd.read_csv('Production.csv', sep=';')
df_Exp = pd.read_csv('Exports.csv', sep=';')
df_Imp = pd.read_csv('Imports.csv', sep=';')

Showing the modeled data

In [25]:
df_Prod

,Production,jan/18,fev/18,mar/18,abr/18,mai/18,jun/18,jul/18,ago/18,set/18,...,mar/19,abr/19,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19
0,Crude Steel,2.914,2.766,3.113,2.995,2.724,2.970,3.086,2.914,3.081,...,2.878,2.970,2.826,2.883,2.505,2.537,2.394,2.690,2.657,2.462
1,Rolled Products,1.923,1.861,2.130,2.038,2.026,1.918,1.947,1.906,2.107,...,2.060,1.942,2.010,1.801,1.894,1.895,1.969,1.887,1.774,1.482
2,Pig Iron,2.368,2.171,2.442,2.356,2.239,2.375,2.481,2.349,2.533,...,2.356,2.383,2.295,2.277,1.879,1.926,1.906,2.193,2.179,2.233

In [23]:
df_Exp

,Exports,jan/18,fev/18,mar/18,abr/18,mai/18,jun/18,jul/18,ago/18,set/18,...,mar/19,abr/19,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19
0,Rolled Products,488.000,398.000,476.000,379.000,301,404.000,267,502,216.000,...,254,348.000,410.000,379.000,267.0,274,371,423.000,294.000,225.00
1,Thousand Tonnes,1.352,1.034,1.192,1.098,753,1.451,984,602,1.055,...,811,1.064,1.235,1.099,1.0,917,956,1.144,1.089,1.01
2,US$ Millions,796.000,604.000,753.000,706.000,484,949.000,627,488,704.000,...,464,616.000,760.000,686.000,582.0,538,523,604.000,543.000,502.00

In [24]:
df_Imp

,Imports,jan/18,fev/18,mar/18,abr/18,mai/18,jun/18,jul/18,ago/18,set/18,...,mai/19,jun/19,jul/19,ago/19,set/19,out/19,nov/19,dez/19,Unnamed: 25,Unnamed: 26
0,Rolled Products,215,147,212,198,200,228,213,182,189,...,231,166,199,182,182,209,126,133,NaN,NaN
1,Thousand Tonnes,217,158,213,202,242,231,216,246,225,...,233,168,201,251,184,210,128,133,NaN,NaN
2,US$ Millions,241,181,224,226,233,234,240,251,231,...,237,180,221,231,211,219,156,148,NaN,NaN

>Data successfully validated

This was the most laborious step, once the data were modeled, we were able to work with them, with them within python we could, for example, apply artificial intelligence models that can predict trends based on the series of data over the years, thus being able to predict how much raw iron will be produced in 2023 in Brazil with a high accuracy of hit, but this is not the objective of this analysis. To see my `Machine Learning Algorithms` [click here](https://github.com/kauebr/Machine-Learning-Projects-IBM)
> Data modeling step completed
<hr>

# <h2 id="4">4. Load our dataframe into Google Data Studio (Load)</h2>

Once the data is modeled, we have to load it for further analysis.

Correction of modeling errors

* The first time I tried to upload the data, we had an error in the international standardization of dates, which was fixed by entering .cvs with a text editor.
* The second time I tried to upload the data, there was an error with the floating point: internationally, the dot is used for decimal separation, but in Brazil, a comma is used instead of the dot, and the dot is used to separate the place of thousands. The data was fixed using python with the code below
* Lastly, I had problems with the arrangement of the data, so I had to restructure the data again, taking the dates out of the rows and putting them in place of the columns.

In [33]:
x = ('''Production;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19
Crude Steel;2.914;2.766;3.113;2.995;2.724;2.970;3.086;2.914;3.081;3.224;2.911;2.709;3.021;2.747;2.878;2.970;2.826;2.883;2.505;2.537;2.394;2.690;2.657;2.462
Rolled Products;1.923;1.861;2.130;2.038;2.026;1.918;1.947;1.906;2.107;2.129;2.054;1.657;1.907;1.865;2.060;1.942;2.010;1.801;1.894;1.895;1.969;1.887;1.774;1.482
Pig Iron;2.368;2.171;2.442;2.356;2.239;2.375;2.481;2.349;2.533;2.557;2.345;2.439;2.451;2.201;2.356;2.383;2.295;2.277;1.879;1.926;1.906;2.193;2.179;2.233
''').replace('.', '')
x

'Production;Jan-18;Feb-18;Mar-18;Apr-18;May-18;Jun-18;Jul-18;Aug-18;Sep-18;Oct-18;Nov-18;Dec-18;Jan-19;Feb-19;Mar-19;Apr-19;May-19;Jun-19;Jul-19;Aug-19;Sep-19;Oct-19;Nov-19;Dec-19\nCrude Steel;2914;2766;3113;2995;2724;2970;3086;2914;3081;3224;2911;2709;3021;2747;2878;2970;2826;2883;2505;2537;2394;2690;2657;2462\nRolled Products;1923;1861;2130;2038;2026;1918;1947;1906;2107;2129;2054;1657;1907;1865;2060;1942;2010;1801;1894;1895;1969;1887;1774;1482\nPig Iron;2368;2171;2442;2356;2239;2375;2481;2349;2533;2557;2345;2439;2451;2201;2356;2383;2295;2277;1879;1926;1906;2193;2179;2233\n'

So the data has been successfully loaded into Google Data Studio

<img src="https://i.ibb.co/1m2b48B/data-ok.png" width="1200" alt="Reduced Data"  />

>Data successfully uploaded to google data studio
<hr>

# <h2 id="5">4. Dashboards</h2>

Once the data is in the system, just manipulate it to generate the dashboards, the detailed complete result can be seen by [clicking here](https://datastudio.google.com/reporting/a67bf0b8-aaf4-41ca-b825-3a1b2d8a539f/page/YKCvC)

* You can see the non-detailed print below:
<img src="https://i.ibb.co/0hN0hps/dashboards.png" width="1200" alt="DashBoards"  /> 



`I hope you enjoyed it, thanks for the attention!`